<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victorvieux.livedroid"
    android:versionCode="200"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="17"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/Theme.xbox_theme"
        android:name=".LiveDroidApp"
        android:hardwareAccelerated="true" >
        <activity
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.victorvieux.livedroid.activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
    	</activity>
        <activity android:noHistory="true" android:label="" android:name=".activities.GameActivity"></activity>
        <activity android:noHistory="true" android:label="@string/settings" android:name=".activities.SettingsActivity" android:theme="@style/CustomThemeNoBg"></activity>
        <activity android:noHistory="true" android:label="@string/carousel" android:name=".activities.CarouselActivity"></activity>
        
        </application>

</manifest>